{{ partial "blog-header.html" .}}

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    {{ if isset .Params "image" }}<header class="intro-header" style="background-image: url('{{ .Site.BaseURL }}/{{ .Params.image }}')">
      {{ else }}<header class="intro-header" style="background-image: url('{{ .Site.BaseURL }}img/background.jpg')">
    {{ end }}
      <div class="container">
        <div class="row">
           <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
             <div class="post-heading">
               <h1>{{ .Title }}</h1>
               <h2 class="subheading">{{ .Description }}</h2>
               <span class="meta">
                 {{ partial "meta.html" .}}
               </span>
             </div>
           </div>
        </div>
      </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  {{ .Content }}
                  <ul class="pager">
                    {{ if .PrevInSection }}
                      <li class="previous">
                        <a href="{{ .PrevInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .PrevInSection.Title }}">&larr; Previous {{ i18n "previousPost" }}</a>
                      </li>
                    {{ end }}
                    {{ if .NextInSection }}
                      <li class="next">
                        <a href="{{ .NextInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .NextInSection.Title }}">{{ i18n "nextPost" }}Next &rarr;</a>
                      </li>
                    {{ end }}
                  </ul>
                  {{ partial "comments.html" .}}
                </div>
            </div>
        </div>
    </article>



{{ partial "footer.html" .}}
